/* === START CSS RESET === https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
p {
  margin: 0;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* === END CSS RESET === */

/* COMPOSITION */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Outfit, 'sans-serif';
}

.card-token-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UTILITIES */
:root {
  --dark-blue-1: #0d192c;
  --dark-blue-2: #15263f;
  --dark-blue-3: #2e405a;
  --soft-blue: #8bacd9;
  --cyan: #00fff8;
  --white: #ffffff;
  --flow-width: 24px;
  --short-flow-width: calc(var(--flow-width) * 2 / 3);
  --x-short-flow-width: 7px;
  --card-padding: 24px;
  --card-width-desktop: 350px;
  --card-height-desktop: 596px;
  --card-width-mobile: 327px;
  --card-height-mobile: 543px;
  --view-icon-side-length: 48px;
}

.flow > * + * {
  margin-top: var(--flow-width);
}

.x-short-flow > * + * {
  margin-left: var(--x-short-flow-width);
}

.bg-primary {
  background-color: var(--dark-blue-1);
}

.bg-secondary {
  background-color: var(--dark-blue-2);
}

/* BLOCK */
.card-content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  padding: var(--card-padding);
  padding-bottom: 32px;
}

.card-content-image-overlay {
  position: relative;
  display: inline-block;
}

.card__image {
  border-radius: 8px;
  flex-shrink: 0;
}

.card__view-icon {
  display: none;
  position: absolute;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
  display: inline;
}

.card__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: var(--soft-blue);
  margin-top: var(--short-flow-width);
}

.card-token-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-token-data__price {
  font-size: 16px;
  font-weight: 600;
  color: var(--cyan);
}

.card-token-data__expiration {
  font-size: 16px;
  font-weight: 400;
  color: var(--soft-blue);
}

.card__ruler {
  height: 1px;
  background-color: var(--dark-blue-3);
}

.card-attribution {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}

.card-attribution__avatar {
  height: 33px;
  width: 33px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 1px solid var(--white);
}

.card-attribution__text {
  font-size: 16px;
  font-weight: 400;
  color: var(--soft-blue);
  margin-left: 16px;
}

.card-attribution__author-name {
  color: var(--white);
}

/* EXCEPTIONS */
.hoverable:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card-content-image-overlay:hover .card__view-icon {
  display: block;
}

.card-content-image-overlay:hover:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 255, 248, 0.503);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (width > 375px) {
  .card {
    width: var(--card-width-desktop);
    height: var(--card-height-desktop);
  }

  .card__view-icon {
    --img-side-length-desktop: calc(
      (var(--card-width-desktop) - 2 * var(--card-padding))
    );
    --view-icon-offset-desktop: calc(
      (var(--img-side-length-desktop) - var(--view-icon-side-length)) / 2
    );
    top: var(--view-icon-offset-desktop);
    left: var(--view-icon-offset-desktop);
  }
}

@media only screen and (width <= 375px) {
  .card {
    width: var(--card-width-mobile);
    height: var(--card-height-mobile);
  }

  .card__view-icon {
    --img-side-length-mobile: calc(
      (var(--card-width-mobile) - 2 * var(--card-padding))
    );
    --view-icon-offset-mobile: calc(
      (var(--img-side-length-mobile) - var(--view-icon-side-length)) / 2
    );
    top: var(--view-icon-offset-mobile);
    left: var(--view-icon-offset-mobile);
  }
}
